.Competitions{
    background-color:rgb(20, 74, 154); /*RGB(25 25 112)*/
    width: 100%;
    text-align: center;
    color:white;
    font-size: large;
    font-family: Arial;
    font-weight: 300;        
}

.competitionForm{
    background-color: rgb(255, 193,7);
    color:black;
    /* font-family: Arial;
    font-weight: 300;
    font-size: large; These commented lines were trying to change the font to Arial. It was not successfull.*/
}

.competitionForm h2{
    color: black;
    /* font-family: Arial;
    font-weight: 300;
    font-size: xx-large; These commented lines were trying to change the font to Arial. It was not successfull.*/
}

.help-block{
    font-size: x-small;
}




/*ol{
    display: inline;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

ol li{
    list-style: decimal;
    margin-bottom: 10px;
    padding-left: 20px;
} */

.cardHeader{
    background-color: blue;
    text-align: center;
    color: white;
    padding-top: 100px;
}

.cardHeader p{
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.sectionCards{
    background-color: blue;
    /* padding-top: 100px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;

}

.item:nth-child(n+5) {
    position: relative;
    left: 50%;
}

.note{
    background-color: blue;
    color: white;
}

.note p {
    width: 1000px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    font-size: 14px;
}


/* .sectionCards > h1, .sectionCards > p{
    text-align: center;
    color: white;
} */

