.title > h3{
text-align: center;
margin-bottom: 20px;
font-size: 30px;
}

.container-competitionForm{
    border: solid blue;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    padding: 20px;
    
}

form{
    font-size: 20px;
    font-family: sans-serif;
}

input{
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.questionInput small{
    color: red;
}

.error{
    border: 1px solid red;
}

textarea{
    width: 100%;
    font-size: 18px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

label{
    margin-bottom: 10px;
    display: block;
    color: black;
    font-weight: bold;
}

form > button{
    background-color: rgb(20, 74, 154);
    width: 100px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px;

}

.questionInput{
    width: 700px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.radio-option{
    display: flex;
}

.radio-option > label{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

input[type="submit"]{
    background-color: #fbb71a;
    width: 150px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    height: 55px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px;
    padding: 0;
}

select{
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

form > .questionInput > p{
    font-size: 16px;
    font-weight: 100;
    text-align: start;
}

input[type="radio"]{
    width: 20px;
}

.Competition{
    display: flex;
    height: 35px;
}

.Competition > p{
    margin: 0;
    align-self: center;
}

input[type="checkbox"]{
    width: 20px;
    margin-right: 15px;
}

.questionInput > p > a{
    color: blue;
    text-decoration: none;
}

.allCompetitions{
    display: flex;
}

.right{
    margin-left: 30px;
}

#selectComp{
    padding: 5px;
}

@media screen and (max-width: 1400px){

    .calendarsize{
        width: 80%;
    }
}

@media screen and (max-width: 700px){

    .calendarsize{
        width:auto;
}
}