.calendarsize{
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    /* margin-top: 200px; */
    /* margin-bottom: 200px; */
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 450px) {
    .calendarsize {
      height: 500px; /* Adjust the height to your preference */
    }
  }

  @media only screen and (max-width: 385px) {
    .calendarsize {
      height: 50%; /* Adjust the height to your preference */
    }
  }

@media screen and (max-width: 1400px){

    .calendarsize{
        width: 80%;
    }
}

@media screen and (max-width: 700px){

    .calendarsize{
        width: auto;
    }
}