.dividing-line {
    position: absolute;
    height: 1px;
    left: 0px;
    right: 4px;
    top: 110px;
    background: #ffc107;
}

.header-containerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1208px){
    .header-containerr{
        display: block;
    }
}

.hero-containerr{
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    /* margin-top: 3rem!important; */
    /* margin-bottom: 3rem!important; */
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url("../../pages//Home//HeaderHero/buildings.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-backgrond-image{
    margin-bottom: 1.5rem!important;
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 1.5rem!important;
    display: flex;
    background-image: url("../../pages//Home//HeaderHero/buildings.png");
  }
  
  .hero-containerr h1{
    font-weight: 700!important;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .hero-containerr .h3{
    font-weight: 700!important;
    font-size: 2rem;
    color: white;
  }

  /* @media (max-width: 1017px){
    .hero-containerr .h3{
      font-size: 1rem;
    }
  } */


  .hero-containerr p{
    font-weight: 700!important;
    font-size: 3rem;
    color: white;
    /* text-shadow: 1px 1px 2px black; */
    text-shadow: -6px 1px 2px black;
  }

  .hero-containerr .hero-content{
    margin-left: auto!important;
    margin-right: auto!important;
  }


   .hero-header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: 1040px){
    .hero-header-menu{
        display: block;
    }
  }

